@font-face {
  font-family: 'icons';
  src:
    url('../../static/fonts/icons.ttf?fin3db') format('truetype'),
    url('../../static/fonts/icons.woff?fin3db') format('woff'),
    url('../../static/fonts/icons.svg?fin3db#icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ArrowTop:before {
  content: "\e900";
}
.icon-boorger:before {
  content: "\e901";
}
.icon-Buy:before {
  content: "\e902";
}
.icon-cross:before {
  content: "\e903";
}
.icon-loop:before {
  content: "\e904";
}
.icon-ArrowRight:before {
  content: "\e905";
}
